<!--CENTER TOOLBAR-->
<md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">

        <!--LEFT PANEL TOGGLE BUTTON-->
        <md-button class="hamburgerButton" ng-click="toggleLeftPanel()" hide-gt-md>
            <md-icon md-svg-src="images/hamburger.svg" class="ng-scope ng-isolate-scope md-default-theme" aria-hidden="true"></md-icon>
        </md-button>

        <!--CENTER TITLE-->
        <span class="mainToolbarTitle">Main Content</span>

        <!--RIGHT PANEL TOGGLE BUTTON-->
        <md-button class="rightButton" ng-click="toggleRightPanel()">
            Toggle right
        </md-button>
    </div>
</md-toolbar>